@model prjMvcCorefp.ViewModel.COffServiceViewModel

@{
    ViewData["Title"] = "COffServiceCreate";
}

<h1>COffServiceCreate</h1>


<h4>COffServiceViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="COffServiceCreate">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
                <label asp-for="OId" class="control-label"></label>
                <input asp-for="OId" class="form-control" />
                <span asp-validation-for="OId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EId" class="control-label"></label>
                <input asp-for="EId" class="form-control" />
                <span asp-validation-for="EId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PId" class="control-label"></label>
                <input asp-for="PId" class="form-control" />
                <span asp-validation-for="PId" class="text-danger"></span>
            </div>*@         
            <div class="form-group">
                <label asp-for="O就診日期" class="control-label"></label>
                <input asp-for="O就診日期" class="form-control" />
                <span asp-validation-for="O就診日期" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="O回診日期" class="control-label"></label>
                <input asp-for="O回診日期" class="form-control" />
                <span asp-validation-for="O回診日期" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OffService.PId" class="control-label" hidden></label>
                <input asp-for="OffService.PId" class="form-control" id="PatientNameInput" hidden />
                <label class="control-label">住民</label>
                <select id="PatientNameSelected" name="OffService.PId" class="form-select">
                    <optgroup label="請選擇姓名">
                        <option selected disabled hidden>請選擇姓名</option>
                        @{
                            foreach (var item in Model.住民表單)
                            {
                                <option value=@item.PId> @item.P姓名</option>
                            }
                        }
                    </optgroup>
                </select>
                <span asp-validation-for="OffService.PId" class="text-danger"></span>
            </div>
     @*       <div class="form-group">
                <label asp-for="姓名" class="control-label"></label>
                <input asp-for="姓名" class="form-control" />
                <span asp-validation-for="姓名" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="身分證字號" class="control-label"></label>
                    <input asp-for="身分證字號" class="form-control" />
                <span asp-validation-for="身分證字號" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="性別" class="control-label"></label>
                <input asp-for="性別" class="form-control" />
                <span asp-validation-for="性別" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="出生年月日" class="control-label"></label>
                <input asp-for="出生年月日" class="form-control" />
                <span asp-validation-for="出生年月日" class="text-danger"></span>
            </div>*@        
            <div class="form-group">
                <label asp-for="O醫師診斷" class="control-label"></label>
                <input asp-for="O醫師診斷" class="form-control" />
                <span asp-validation-for="O醫師診斷" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="O指示與用藥" class="control-label"></label>
                <input asp-for="O指示與用藥" class="form-control" />
                <span asp-validation-for="O指示與用藥" class="text-danger"></span>
            </div>
           @* <div class="form-group">
                <label asp-for="O建立" class="control-label"></label>
                <input asp-for="O建立" class="form-control" />
                <span asp-validation-for="O建立" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="O更新" class="control-label"></label>
                <input asp-for="O更新" class="form-control" />
                <span asp-validation-for="O更新" class="text-danger"></span>
            </div>*@

            <div class="form-group">
                <label asp-for="OffService.EId" class="control-label" hidden></label>
                <input asp-for="OffService.EId" class="form-control" id="EmployeeNameInput" hidden />
                <label class="control-label">會員</label>
                <select id="EmployeeNameSelected" name="OffService.EId" class="form-select">
                    <optgroup label="記錄人員">
                        <option selected disabled hidden>選擇記錄人員</option>
                        @{
                            foreach (var item in Model.員工表單)
                            {
                                <option value=@item.EId> @item.E員工姓名</option>
                            }
                        }
                    </optgroup>
                </select>
                <span asp-validation-for="OffService.EId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        let PatientNameSelected = document.querySelector("#PatientNameSelected");
        let PatientNameInput = document.querySelector("#PatientNameInput");
        PatientNameSelected.addEventListener("change", function () {
            PatientNameInput.value = PatientNameSelected.value;
        })

    </script>
    <script>
        let EmployeeNameSelected = document.querySelector("#EmployeeNameSelected");
        let EmployeeNameInput = document.querySelector("#EmployeeNameInput");
        EmployeeNameSelected.addEventListener("change", function () {
            EmployeeNameInput.value = EmployeeNameSelected.value;
        })
    </script>
}
